.sunny {
  background: url("https://www.dropbox.com/s/2p52ex76m38z817/blue-sunny-sky.jpg?raw=1");
}
.cloudy {
  background: url("https://www.dropbox.com/s/hjlu4ai3rz70r42/cloudy.jpg?raw=1");
}
.rainy {
  background: url('https://www.dropbox.com/s/ejd9h1dmzvz2agr/Rainy-Weather.jpg?raw=1');
}
.snowy {
  background: url('https://www.dropbox.com/s/0jnmbc2ld15sbef/Snow-Weather-Background.jpg?raw=1');
}
.foggy {
  background: url('https://www.dropbox.com/s/s0gjbfcgrdznl9w/fogggy.jpg?raw=1');
}
.windy {
  background: url('https://wallpaperscraft.com/image/field_grass_rain_clouds_wind_weather_48127_1600x1200.jpg');
}
.news-box {

  width: 30%;
  background-color: #0E26DC;
  height: 33%;
  /*#a7c6ef*/
  float: right;
  opacity: 0.5;
  margin: 0 2% 0 5%;
  padding : 0 1% 0 1%;
  border-radius: 10%;
}
.news-box__p {
  color: white;
  font-size: 0.8rem;
  opacity: default;
  font-weight: 300;
}
.temp-info {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5% -1% 0 1%;

}
.temp-info__temp {
  font-size: 1.8rem;
}
.temp-info__feels-like {
  font-size: 0.8rem;
  font-weight: 200;
  margin: -10% 0 0 0;
}
.temp-info__btn-container {
  margin: 15% 0 0 0;
}
.weather-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(23, 88, 208, 0.7);;
  /*#2771e8*/
  background: -webkit-linear-gradient(right, rgb(17, 105, 247), #93bcf2);
  background: linear-gradient(to left, rgb(17, 105, 247), #93bcf2);
  max-width: 600px;
  min-height: 300px;
  border-style: solid;
  border-color: #c0d5f7;
  border-width: 1%;
  border-radius: 3%;
  color: white;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;

}
.weather-window__h1 {
  color: white;
  font-weight: 200;
  text-align: center;
}
/* NEED TO BE TURNED INTO MIXIN

@media screen and (min-width: 700px) {
  .weather-window {
    width: 70%;
  }
*/
#w-details {
  padding: 1% 0 1% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0 auto 0;
}
#w-details ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 200;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 -20%;
}
#w-details li {
  margin-left: 2rem;
  list-style-type:none;
}
#weather-icon {
  width: 30%;
  margin-top: -20px;
  margin: 0 0 0 5%;
}
#weather-icon canvas  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#weather-icon__h2 {
  text-align: center;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("https://www.dropbox.com/s/2p52ex76m38z817/blue-sunny-sky.jpg?raw=1");
  font-weight: 200;

}
h2 {
  color: yellow;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
canvas {
  float: left;
}
/*rules for smaller screens */
.btn {
  background: #bed4f7;
}
#weather-icon, #news-box, #w-details{
  /*display: inline-block;*/
}
