@import "base/_global";
@import "base/_variables";
@import "base/_mixins";
@import "modules/_background-images";
@import "modules/_news-box";
@import "modules/_temp-info";
@import "modules/_weather-window";
@import "modules/_w-details";
@import "modules/_weather-icon";
@import "modules/_row";



body {
  font-family: "Roboto", sans-serif;
  background: url("https://www.dropbox.com/s/2p52ex76m38z817/blue-sunny-sky.jpg?raw=1");
  font-weight: 200;

}

h2 {
  color: yellow;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

canvas {
  float: left;
}

/*rules for smaller screens */

.btn {
  background: #bed4f7;
}


#weather-icon, #news-box, #w-details{
  /*display: inline-block;*/
}
