
.sunny {
  background: url("https://www.dropbox.com/s/2p52ex76m38z817/blue-sunny-sky.jpg?raw=1");
}

.cloudy {
  background: url("https://www.dropbox.com/s/hjlu4ai3rz70r42/cloudy.jpg?raw=1");
}

.rainy {
  background: url('https://www.dropbox.com/s/ejd9h1dmzvz2agr/Rainy-Weather.jpg?raw=1');
}

.snowy {
  background: url('https://www.dropbox.com/s/0jnmbc2ld15sbef/Snow-Weather-Background.jpg?raw=1');
}

.foggy {
  background: url('https://www.dropbox.com/s/s0gjbfcgrdznl9w/fogggy.jpg?raw=1');
}

.windy {
  background: url('https://wallpaperscraft.com/image/field_grass_rain_clouds_wind_weather_48127_1600x1200.jpg');
}