.news-box {

  width: 30%;
  background-color: $darkBlue;
  height: 33%;
  /*#a7c6ef*/
  float: right;
  opacity: 0.5;
  margin: 5% 2% 0 5%;
  padding : 0 1% 0 1%;
  border-radius: 10%;

  &__p {
    color: white;
    font-size: 0.8rem;
    opacity: default;
    font-weight: 300;
  }
}

