#w-details {
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: center;
  margin: 3% auto 0 auto;

    & ul {
        display: inline-flex;
        font-weight: 200;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 0 -20%;
    }


    & li {
      margin-left: 2rem;
      list-style-type:none;
      padding: 1%;
      font-size: .8rem;
    }
}