.weather-window {
  display: flex;
  flex-direction: column;
  background: rgba(23, 88, 208, 0.7);;
  /*#2771e8*/
  background: linear-gradient(to left, rgb(17, 105, 247), #93bcf2);
  max-width: 600px;
  min-height: 300px;
  border-style: solid;
  border-color: #c0d5f7;
  border-width: 1%;
  border-radius: 3%;
  color: white;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;

  &__h1 {
  color: white;
  font-weight: 200;
  text-align: center;
  }

}

/* NEED TO BE TURNED INTO MIXIN

@media screen and (min-width: 700px) {
  .weather-window {
    width: 70%;
  }
*/
